/.curseclient
/.qmenu_opened.marker
/.vscode
/backups
/blueprints
/classes
/crash-reports
/ct_dumps
/debug
/downloads
/ESM
/hotbar.nbt
/hs_err_pid13392.log
/hs_err_pid18540.log
/hs_err_pid19628.log
/imgui.ini
/immersive_paintings
/immersive_paintings_cache
/journeymap
/knownkeys.txt
/lightspeed-cache
/local
/localconfigs
/logs
/minecraftinstance.json
/modernfix
/mods/morediscs-1.19.2-31-forge.jar
/music_sheets
/options.txt
/patchouli_books
/patchouli_data.json
/profileImage
/quests_structures
/realms_persistence.json
/rhino.local.properties
/saves
/schematics
/screenshots
/servers.dat
/servers.dat_old
/shaderpacks
/TrashSlotSaveState.json
/usercache.json
/usernamecache.json
config/jei/world/local/Age_2_Experimentale/bookmarks.ini
config/jei/world/server/Minecraft_Server_25ce26f6/bookmarks.ini
config/worldstripper/settings.toml
config/worldstripper/stripper.json
