/.curseclient
/.qmenu_opened.marker
/.vscode
/backups
/blueprints
/classes
/crash-reports
/ct_dumps
/debug
/downloads
/ESM
/hs_err_pid13392.log
/hs_err_pid18540.log
/hs_err_pid19628.log
/imgui.ini
/immersive_paintings
/immersive_paintings_cache
/journeymap
/knownkeys.txt
/local
/localconfigs
/logs
/minecraftinstance.json
/music_sheets
/options.txt
/patchouli_books
/patchouli_data.json
/profileImage
/realms_persistence.json
/rhino.local.properties
/saves
/schematics
/screenshots
/shaderpacks
/TrashSlotSaveState.json
/usercache.json
/usernamecache.json