/.curseclient
/.qmenu_opened.marker
/.vscode
/backups
/blueprints
/classes
/crash-reports
/ct_dumps
/debug
/downloads
/ESM
/hotbar.nbt
/imgui.ini
/immersive_paintings
/immersive_paintings_cache
/journeymap
/knownkeys.txt
/lightspeed-cache
/local
/localconfigs
/logs
/modernfix
/options.txt
/patchouli_books
/patchouli_data.json
/profileImage
/quests_structures
/realms_persistence.json
/rhino.local.properties
/saves
/screenshots
/servers.dat
/servers.dat_old
/shaderpacks
/TrashSlotSaveState.json
/usercache.json
/usernamecache.json
config/worldstripper/settings.toml
config/worldstripper/stripper.json
resourcepacks/Quark Programmer Art.zip
reauth.toml
kubejs/probe
resourcepacks/SmoothFont_1.19.X.zip
kubejs/config/probejs.json
kubejs/jsconfig.json
user-prefs.json
o_prof
enigmatic_persistence.dat
mods/*
setup/.mci.backup
minecraftinstance.json